/* --------------
     General 
----------------- */

@font-face {
    font-family: 'Moon Time Script';
    src:  url('../fonts/MoonTime-Regular.ttf') format('truetype');
  }

:root {
    --accent: #304528;
    --second: #E6E4E2;
    --third: #497537;
    --fourth: #B9AFC2;
    --sub: 'Moon Time Script';
    --title: 'wedding-gothic-atf', sans-serif;;
    --copy: 'Epilogue', sans-serif;
	--default-shadow: rgba(0, 0, 0, 0.25);
	--default-duration: 0.3s;
}

h1 {
    font-family: var(--title);
    font-weight: 700;
    font-size: 5em;
    color: var(--accent);
    text-transform: uppercase;
}

h2 {
    font-family: var(--title);
    font-weight: 700;
    font-size: 3.5em;
    color: var(--accent);
    text-transform: uppercase;
    line-height: 1em;
}

h3 {
    font-family: var(--title);
    font-weight: 700;
    font-size: 2.5em;
    color: var(--accent);
    text-transform: uppercase;
    line-height: 1em;
}

h4 {
    font-family: var(--title);
    font-weight: 500;
    font-size: 1em;
    color: var(--accent);
    text-transform: uppercase;
    margin-bottom: .5em;
}

h5 {
    font-family: var(--sub);
    font-weight: 500;
    color: var(--fourth);
    font-size: 5em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    line-height: 1em;
}

h6 {
    font-family: var(--sub);
    font-size: 5em;
    margin-block-start: -1.5em;
    margin-block-end: 0em;
    font-weight: 100;
    color: var(--fourth);
    z-index: 9999;
}

@media (max-width: 999px) {
    h6.right {
        display: none;
    }
}


@media (min-width: 1000px) {
    h6.right {
        text-align: right;
        margin-right: -1em;
    }
}

p {
    font-family: var(--copy);
    color: rgba(0, 0, 0, 0.60);
    line-height: 1.5em;
}

a {
    color: var(--accent);
    text-decoration: none;
}

blockquote {
    text-align: center;
}

blockquote::before {
    display: flex;
    content: "";
    background: url('../images/icons/quote.svg') no-repeat;
    background-size: 40px;
    height: 40px;
    width: 40px;
    margin: 0 auto;
}


/* --------------
    Navigation 
----------------- */

.nav-container {
    display: flex;
    justify-content: space-between;
    grid-area: Nav;
    padding-top: 1em;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}

.nav-footer {
    list-style-type: none;
    display: flex;
    font-family: var(--title);
    font-weight: 500;
    text-transform: uppercase;
    font-size: 11px;
    justify-content: center;
    align-items: center;
    color: var(--accent);
    flex-direction: column;
}

@media (min-width: 800px) {

    .nav-footer {
        flex-direction: row;
    }    

    .nav-footer li {
        margin-right: 30px;
    }

    .nav-footer li:last-child {
        margin-right: 0px;
    }
}

.reg-nav {
    background: linear-gradient(90deg, var(--second) 40%, #D6D0CA 30%);
}

nav ul {
    list-style-type: none;
    color: var(--accent);
    display: flex;
    justify-content: space-evenly;
    padding: 1.5em 0;
    z-index: 99;
}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    padding: 1em 0;
    flex-wrap: wrap;
}

ul.nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-transform: uppercase;
}

ul.nav li {
    margin: .5em 1.5em;
    font-family: var(--title);
    font-weight: 500;
    font-size: 11px;
}

ul.nav.show {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1em auto 0;
    text-align: center;
}

button.hamburger {
    height: 45px;
    width: 45px;
    padding: 0;
}

.hamburger {
    background-color: var(--fourth);
    border-radius: 50%;
}

@media (max-width: 1001px) {
    ul.nav {
        display: none;
        width: 100%;

    }
}

@media (min-width: 1000px) {
    .hamburger {
        display: none;
    }
}

nav a {
    text-transform: uppercase;
}

.active {
    color: var(--third) !important;
}

button:focus {
    outline: none;
}


/* --------------
     Layout
----------------- */

.headshot-container {
    grid-area: Photo;
    text-align: right;
}

body {
    background-color: var(--second);
    font-family: var(--copy);
    color: rgba(0, 0, 0, 0.60);
    line-height: 1.5em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

@media (min-width: 1160px) {

    .header-container {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 0.25fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
        "Nav Photo"
        "Intro Photo";
    }
}

@media (max-width: 1001px) {
    .nav-container {
        display: none;
    }
}

@media (max-width: 1159px) {
    

    .headshot-container {
        margin: 20px 0;
    }
}

@media (min-width: 1001px) {
    .home-header {
        display: none;
    }

    .round-img {
        width: 320px;
        height: 350px;
    }
}

.intro-container {
    grid-area: Intro;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.round-img {
    border-radius: 200px 200px 0px 0px;
    margin: 0 25px;
    border: 8px solid var(--second);
    box-shadow: 0 0 0 1px #000;
}

.round-img.fam {
    background: url(../images/family-cat.jpg);
    background-position: 25% 50%;
    background-size: cover;
}

.round-img.couple {
    background: url(../images/couples-cat.jpg);
    background-position: 30% 50%;
    background-size: cover;
}

.round-img.individual {
    background: url(../images/individuals-cat.jpg);
    background-position: 50% 30%;
    background-size: cover;
}


.blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-container {
    margin-top: 40px;
}

@media (min-width: 1000px) {

    .blog-container {
        margin-top: 0px;
    }
}    

@media (max-width: 999px) {

    .blog-container.right {
        display: flex;
        flex-direction: column-reverse;
    }

    .round-img {
        width: 220px;
        height: 250px;
    }

    .blog-container {
        margin-top: 40px;
    }
}    

.blog-text {
    width: 70%;
    margin: 30px 0;
}


@media (min-width: 1000px) {

    .blog-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
        "Image Text"
        "Image Text";
        align-items: center;
    }

    .blog-text {
        width: 70%;
        margin: 0 auto;
        grid-area: Text;
    }

    .round-cont {
        flex-direction: row;
    }

    .blog-container.home {
        height: 100vh;
    }

    img.badge {
        margin-top: -400px;
        margin-left: -60px;
    }

    .headshot-container {
        text-align: left;
    }
}

@media (max-width: 999px) {
    .round-cont {
        flex-direction: column;
    }

    img.badge {
        margin-top: -40px;
        margin-right: 20px;
        width: 80px;
    }
}

.round-cont {
    display: flex;
    width: 70%;
    margin: 40px auto;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.round-parent {
    margin: 30px 0;
}

.blog-container.right {
    direction: rtl;
}

.blog-img {
    grid-area: Image;
    width: 100%;
    height: 100%;
}

.blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;    
}

.blog-img.home {
    object-fit: none;
    width: 100%;
    height: 450px;
}

.cta-container {
    display: flex;
    align-items: center;
    height: 100vh;
}

.cta {
    width: 70%;
    height: 300px;
    margin: 0 auto;
    background: url(../images/leaf-bg.jpg);
}

.cta div {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: 0 auto;
}


.footer-content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

footer {
    z-index: 99;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
}

.footer-main {
    display: flex;
    padding: .5em 0;
    background-color: var(--accent);
    width: 100%;
    flex: 6;
}

@media (min-width: 800px) {

    .footer-content {
        display: flex;
        flex-direction: row;
    }

    footer {
        z-index: 99;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }
}

@media (min-width: 1127px) {
    
    .invest-container {
        display: grid;
        grid-template-columns: 1.5fr 1.5fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
        "Photo-Top Photo-Top Text Text"
        "Photo-Bottom Photo-Bottom Text Text";
        background: linear-gradient(90deg, var(--second) 40%, #D6D0CA 30%);
    }

    .Text {
        grid-area: Text;
        margin: 0;
    }

    .quote-container {
        height: 70vh;
        width: 70%;
        height: 50vh;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }

    .purple-linear {
        background: linear-gradient(180deg, var(--second) 80%, var(--fourth) 20%);
    }

    .about-container {
        width: 80%;
        margin: 0px auto;
        padding-top: 40px;
        display: flex;
    }

    .about-container div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 30px;
    }

    .about-container img {
        height: 500px;
    }
}

@media (max-width:1126px) {
    .Photo-Top, .Photo-Bottom {
        display: none;
    }

    .Text h3 {
        font-size: 2em;
        text-align: center;
        margin: 0 auto;
    }

    .price-container {
        text-align: center;
    }
}

.invest-container {
    padding: 10% 0;
    background-color: #D6D0CA;
}

.Photo-Top {
    grid-area: Photo-Top;
    text-align: center;
}

.Photo-Top img {
    margin-right: 25px;
}

.Photo-Bottom { 
    grid-area: Photo-Bottom;
    text-align: center;
}

.Text ul {
    list-style-type: none;
}

.price-container {
    border: 1px solid #000;
    padding: 25px;
    margin: 50px 0;
}

.price {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--fourth);
    border-radius: 70px;
    width: 70px;
    height: 70px;
    margin: 0 auto -60px;
}

.container {
    height: 50vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.contact-container {
    width: 80%;
    margin: 0 auto;
    padding: 5% 0;
    text-align: center;
}

@media (min-width:800px) {
    
    .contact-container {
        width: 70%;
        height: 100vh;
    }
}

.Text {
    width: 80%;
}

.grid-container {
    display: grid;
    grid-template-columns: 0.25fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "Filter Photo-1 Photo-2 Photo-3"
      "Filter Photo-4 Photo-5 Photo-6"
      "Filter Photo-7 Photo-8 Photo-9";
  }
  .Filter { 
      grid-area: Filter;
      /* transform: rotate(90deg); */
    }
  .Photo-1 { grid-area: Photo-1; }
  .Photo-2 { grid-area: Photo-2; }
  .Photo-3 { grid-area: Photo-3; }
  .Photo-4 { grid-area: Photo-4; }
  .Photo-5 { grid-area: Photo-5; }
  .Photo-6 { grid-area: Photo-6; }
  .Photo-7 { grid-area: Photo-7; }
  .Photo-8 { grid-area: Photo-8; }
  .Photo-9 { grid-area: Photo-9; }

  .Photo-1, .Photo-2, .Photo-3, .Photo-4, .Photo-5, .Photo-6, .Photo-7, .Photo-8, .Photo-9 {
      width: 400px;
      height: 400px;
      overflow: hidden;
  }

  .Photo-1 img, .Photo-2 img, .Photo-3 img, .Photo-4 img, .Photo-5 img, .Photo-6 img, .Photo-7 img, .Photo-8 img, .Photo-9 img {
    height: 400px;
}


#instafeed {
    display: flex;
    flex-direction: row;
    margin: 50px auto;
    justify-content: space-between;
}

.insta-container {
    height: 350px;
    width: 350px;
    margin-right: 30px;
}
.insta-container img {
    object-fit: cover;
    width: 350px;
    height: 350px;
}

@media (max-width: 1001px) {
    .nav-container {
        display: none;
    }
}

.countdown-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    margin: 0px auto;
    padding: 60px 0;
}

.box {
    text-align: center;
    border: 1.5px solid black;
    padding: 30px;
    min-width: 200px;
    margin: 0 10px;
}

.purple {
    background-color: var(--fourth);
    padding: 30px 0;
}


/* --------------
     Button
----------------- */

button, input, optgroup, select, textarea {
    font-family: var(--title);
    text-transform: uppercase;
    font-weight: 500;
}

button a {
    color: var(--title);
    text-decoration: none;
}

button.purple {
    background-color: var(--fourth);
    padding: 10px;
    cursor: pointer;
}

button.purple:hover {
    background-color: var(--third);
}

.round-cont button {
    text-align: center !important;
    margin-top: 15px;
}

.cta p, .cta button {
    text-align: center;
    color: var(--second);
}

img.badge {
    z-index: 9999;
}

@media (min-width: 938px) {
    .social {
        flex: 1;
    }
}

.social svg {
    margin: 5px;
    fill: var(--accent);
}

@media (min-width: 800px) {
    .social svg {
        margin-left: 25px;
    }
}

.social svg:hover {
    fill: var(--third);
}

.nav-footer a {
    color: var(--second);
}

.nav-footer a:hover {
    color: var(--third);
}

.footer-content p {
    color: var(--second);
    font-size: 13px;
}


/* --------------
      Forms 
----------------- */

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} 

@media (min-width: 1000px) {
    
    form {
        width: 550px;
        margin: 0 auto;
    }
}

form button {
    text-align: center;
    margin-top: 15px;
}

form button:hover {
    cursor: pointer;
}

input {
    /* flex: 1 1 5ch; */
    margin: .75em 0;
    width: 100%;
    /* min-height: 2em; */
    padding: 1em;
    background-color: transparent;
}

textarea {
    margin: .75em 0;
    width: 100%;
    padding: 1em;
    background-color: transparent;
}

input,
textarea,
select {
    border: 1.5px solid var(--fourth);
}

  textarea {
    min-height: 6em;
  }

input:focus,
textarea:focus,
select:focus {
    border: 1.5px solid var(--third);
    outline: none;
}


/* --------------
      Portfolio 
----------------- */

.portfolio-row > .column {
    padding: 8px 10px;
  }

.portfolio-row {
    width: 80%;
    margin: 40px auto;
}

@media (min-width:800px) {
    
    .portfolio-row {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(30%, 1fr));
    }
}

@media (max-width:799px) {
    div.modal {
        display: none !important;
    }
}
  
.portfolio-row:after {
    content: "";
    display: table;
    clear: both;
}

.column img {
    width: 100%;
}

/* The Modal (background) */
.modal {
display: none;
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100vh;
overflow: auto;
background-color: rgb(0,0,0, 0.7);
}

/* Modal Content */
.modal-content {
position: relative;
margin: 60px auto;
padding: 0;
width: 90%;
max-width: 1200px;
}

/* The Close Button */
.close {
color: white;
position: absolute;
top: 10px;
right: 25px;
font-size: 35px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #999;
text-decoration: none;
cursor: pointer;
}

.mySlides img {
    height: 80vh;
    margin: 0 auto;
}

.mySlides {
    align-content: center;
}

/* Hide the slides by default */
.mySlides {
display: none;
}

/* Next & previous buttons */
.prev,
.next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -50px;
color: white;
font-weight: bold;
font-size: 20px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
-webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* Caption text */
.caption-container {
text-align: center;
background-color: black;
padding: 2px 16px;
color: white;
}

img.demo {
opacity: 0.6;
}

.active,
.demo:hover {
opacity: 1;
}

img.hover-shadow {
transition: 0.3s;
}

.hover-shadow:hover {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}